<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/link') %>
    <link rel="stylesheet" href="/home.css">
    <title>Home</title>
</head>
<body>
    <% if(locals.username){ %>
        <%- include('./partials/nav', {username}) %>
    <% }else { %>
        <%- include('./partials/nav') %>
    <% } %>
    <div class="myblogs-container">
        <ul>
            <% locals.blogs?.forEach((blog,index) => { %>
                <li>
                    <div class="box">
                        <div class="heading">
                            <h5><%= blog.title %></h5>
                            <div class="type"><p><%= blog.type %></p></div>
                        </div>
                        <p class="description"><%= blog.description %></p>
                    </div>
                    <div class="bottom">
                        <a href='/blogs/read/<%= blog._id %>'>read more</a>
                        <% if(locals.username && blog.createdBy === username._id){ %>
                            <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        <% } %>
                    </div>
                    <div class="details">
                        <div class="views">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M160 80c0-26.5 21.5-48 48-48l32 0c26.5 0 48 21.5 48 48l0 352c0 26.5-21.5 48-48 48l-32 0c-26.5 0-48-21.5-48-48l0-352zM0 272c0-26.5 21.5-48 48-48l32 0c26.5 0 48 21.5 48 48l0 160c0 26.5-21.5 48-48 48l-32 0c-26.5 0-48-21.5-48-48L0 272zM368 96l32 0c26.5 0 48 21.5 48 48l0 288c0 26.5-21.5 48-48 48l-32 0c-26.5 0-48-21.5-48-48l0-288c0-26.5 21.5-48 48-48z"/></svg>
                            <p><%= blog.views %></p>
                        </div>
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>
    <%- include('./partials/script') %>
</body>

</html>